.testInterface {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;

  /* padding-top: 20px; */
  background: #ffffff;
  .head {
    display: flex;
    justify-content: space-between;
    height: 80px;
    .pageName {
      margin-top: 20px;
    }
    .return {
      margin-top: 20px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0;
    .form {
      display: flex;
    }
  }
}
.is-always-shadow {
  border: none !important;
  box-shadow: none !important;
}
